matrix_factorization
numpy~=1.15.0
pandas~=1.0.5
# tensorboard
torchvision
torch-scatter==latest+cu101
torch-sparse==latest+cu101
torch-cluster==latest+cu101
torch-geometric==latest+cu101
scipy~=1.0
tqdm~=4.48.0
